<style>
  table,tr, td
  {
    border:1px solid black;
    text-align: center;
  }
table.center
{
  margin-left: auto;
  margin-right: auto;
}
h1
{
  text-align: center;
}
</style>
<h1>Maria Gabriela Taveras</h1>

<table class="center"> 
<tr>
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
</tr>
<tr> 
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
  <td> <button type="button" onclick="alert('Hi')">Button</button></td>
</tr>
</table>
